

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}

.NavItem {
    margin: 1.5em 4em;
}

.NavRest {
    display: flex;
    flex-direction: row;
}

.Linkedin {
    margin: 1em 2em;
}

.Name {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    margin: 0.25em 1em;
}