
body {
    margin: 0;
}

p {
    margin: 0;
}

a {
    height: 100%;
    width: 100%;
    margin: 5px;
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    position: sticky;
}

.NavItem {
    width: 15em;
    height: 5em;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavItem:hover {
    background-color: rgb(241, 240, 240);
}

.NavItemLink {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    text-decoration: none;
}

.NavItemLink:Hover {
    text-decoration: none;
}

.NavRest {
    display: flex;
    flex-direction: row;
}

.Name {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    margin: 0.3em 1em;
}

.MeLink {
    text-decoration: none;
    color: black;
}

.MeLink:hover {
    text-decoration: none;
}

.LeftSide {
    width: 40%;
    margin: 20vh 0 1vh 6vw;
    display: flex;
    flex-direction: column;
}

.Welcome {
    font-size: 6vw;
}

.Intro {
    margin-top: 1em;
    margin-left: 4vw;
    font-size: 2.5vw;
}

@keyframes beginning {
    0% {content: "I";}
  17% {content: "I ";}
  34% {content: "I a";}
  50% {content: "I am";}
  67% {content: "I am ";}
  84% {content: "I am a";}
  100% {content: "I am a ";}
}

@keyframes changed {
    0% {content: "S";}
    1.8% {content: "So";}
    3.6% {content: "Sof";}
    5.4% {content: "Soft";}
    7.1% {content: "Softw";}
    8.9% {content: "Softwa";}
    10.7% {content: "Softwar";}
    12.5% {content: "Software";}
    14.3% {content: "Software ";}
    16.1% {content: "Software E";}
    17.9% {content: "Software En";}
    19.6% {content: "Software Eng";}
    21.4% {content: "Software Engi";}
    23.2% {content: "Software Engin";}
    25% {content: "Software Engine";}
    26.8% {content: "Software Enginee";}
    28.6% {content: "Software Engineer";}
    30.4% {content: "Software Engineer";}
    32.1% {content: "Software Engineer";}
    33.9% {content: "W";}
    35.7% {content: "We";}
    37.5% {content: "Web";}
    39.3% {content: "Webs";}
    41.1% {content: "Websi";}
    42.9% {content: "Websit";}
    44.6% {content: "Website";}
    46.4% {content: "Website ";}
    48.2% {content: "Website D";}
    50% {content: "Website De";}
    51.8% {content: "Website Dev";}
    53.6% {content: "Website Deve";}
    55.4% {content: "Website Devel";}
    57.1% {content: "Website Develo";}
    58.9% {content: "Website Develop";}
    60.7% {content: "Website Develope";}
    62.5% {content: "Website Developer";}
    64.3% {content: "Website Developer";}
    66.1% {content: "Website Developer";}
    67.9% {content: "C";}
    69.6% {content: "CS";}
    71.4% {content: "CS ";}
    73.2% {content: "CS S";}
    75% {content: "CS St";}
    76.8% {content: "CS Stu";}
    80.4% {content: "CS Stud";}
    81.8% {content: "CS Stude";}
    82.1% {content: "CS Studen";}
    83.9% {content: "CS Student";}
    85.7% {content: "CS Student ";}
    87.5% {content: "CS Student @";}
    89.3% {content: "CS Student @U";}
    91.1% {content: "CS Student @UM";}
    92.9% {content: "CS Student @UMi";}
    94.6% {content: "CS Student @UMic";}
    96.4% {content: "CS Student @UMich";}
    98.2% {content: "CS Student @UMich";}
    100% {content: "CS Student @UMich";}
}

@keyframes cursorBlink {
    0% {content: ""}
    50% {content: "|"}
    100% {content: ""}
}


.changed::before {
    animation: changed 8s linear 0s 1 normal forwards;
    animation-iteration-count: infinite;
    content: "";
}

.changed::after {
    animation: cursorBlink 0.6s linear 2.2s 1 normal forwards, cursorBlink 0.6s linear 2.2s 1 normal forwards;
    content: "|";
    animation-iteration-count: infinite;
}

.HeroContainer {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.RightSide {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.About {
    margin: 12vh 5vw 8vh 5vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.Title {
    text-decoration: underline;
    font-size: 2.5em;
    margin-bottom: 5vh;
}


.AboutText {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    font-size: 1.4em;
}

.Technologies {
    margin: 5vh 0;
}

.TechWrapper {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
}

.TechItem {
    margin-left: 0.25vw;
}


.TechGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 2vh;
}

.Experience {
    margin: 12vh 5vw 8vh 5vw;
}

.Me {
    display: inline;
}

.MeFirst {
    display: inline;
}

.LinkedinLink {
    width: 8em;
    height: 4.6em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LinkedinLink:hover {
    background-color: rgb(241, 240, 240);
}

.MeThird {
    display: inline;
}

.Name {
    cursor: pointer;
}

.LinkedinText {
    display: inline;
}

.Projects {
    margin: 12vh 5vw 8vh 5vw;
}


